<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css">
</head>

<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    Id:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label for="">
                    Name:
                    <input type="text" class="form-control" v-model="name" @keyup.enter="add">
                </label>

                <input type="button" value="add" class="btn btn-primary" @click="add">

                <label for="">
                    搜索名称关键字
                    <!-- vue中的指令在使用时都以 v- 开头 -->
                    <input type="text" class="form-control" v-model="keyword" v-focus v-color="'blue'">
                </label>
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>CreateTime</td>
                    <td>Opreation</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keyword)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{ item.createTime | dateFormater('') }}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="app2">
        <p v-color="'pink'" v-fontweight="1000" v-fontsize="30">{{ dt | dateFormater}}</p>
    </div>
    <script>
        //全局过滤器，进行时间的格式化
        Vue.filter('dateFormater', function (dateStr, pattern = "") {
            // 根据给定的时间字符串，得到特定的事件
            var dt = new Date(dateStr)
            var y = dt.getFullYear()
            var m = dt.getMonth() + 1
            var d = dt.getDate()

            // return y + '-' + 'm' + '-' + d

            if (pattern.toLowerCase() == 'yyyy-mm-dd') {
                return `${y}-${m}-${d}`
            } else {
                var hh = dt.getHours()
                var mm = dt.getMinutes()
                var ss = dt.getSeconds()

                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
            }
        })

        // 自定义键盘修饰符
        Vue.config.keyCodes.f2 = '113'

        // 使用 Vue.directive() 定义全局的指令
        // 其中： 参数1： 指令的名称。注意在定义的时候，指令名称前面不需要加 v- 前缀，但在调用时必须要加
        // 参数2： 是一个对象，这个对象身上，有一些指令相关的函数，这些函数可以在特定的阶段，执行相关的操作
        Vue.directive('focus',{
            bind: function(el){// 每当指令绑定到元素上时，会立执行这个函数，只执行一次
                // 在每个函数中，第一个参数是 el， 表示被绑定的了指令的那个元素，是原生的js对象
                // 在元素刚绑定的时候，还没有插入到DOM中去，调用focus方法还没有作用
                // 因为一个元素，只有在插入DOM之后才能获取焦点
                // el.focus()
            },
            inserted: function(el){// 表示元素插入到DOM中的时候会执行这个函数
                el.focus()
                // 和js有关的操作，最好在inserted中去执行，放置JS行为不生效
            },
            updated: function(){// vNode更新的时候，会执行这个函数，可能会执行多次

            }
        })

        Vue.directive('color', {
            // 样式只要通过指令绑定给了元素，不管这个元素有没有被插入到页面中去
            // 将来元素肯定会显示到页面中，这时候，浏览器的渲染必然会解析样式，应用给这个元素
            bind: function (el, binding) {
                // el.style.color = 'red'
                el.style.color = binding.value
                // 和样式相关的操作一般都可以在bind中执行
            }
        })


        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keyword: '',
                list: [
                    { id: 1, name: '奔驰', createTime: new Date() },
                    { id: 2, name: '宝马', createTime: new Date() }
                ]
            },
            methods: {
                add() {
                    var car = { id: this.id, name: this.name, createTime: new Date() }
                    this.list.push(car)
                    this.id = this.name = '';

                },
                del(id) {
                    this.list.some((item, i) => {
                        if (item.id == id) {
                            this.list.splice(i, 1);
                            return true;
                        }
                    })
                    //    var index = this.list.findIndex(item =>{
                    //         if(item.id = id) {
                    //             return true
                    //         }
                    //     })

                    //     this.list.splice(index,1);
                },
                search(keyword) {
                    // var newList = []
                    // this.list.forEach(item => {
                    //     if (item.name.indexOf(keyword) != -1) {
                    //         newList.push(item)
                    //     }
                    // });
                    // return newList

                    // 注意：forEach some filter findIndex ，这些都属于数组的新方法
                    // 都会对数组中的每一项进行遍历，执行相关的操作。
                    return this.list.filter(item => {
                        // if(item.name.indexOf(keyword) != -1)

                        // 注意：ES6中，为字符串提供了一个新方法，叫做 String.prototype.include('str')
                        // 如果包含，则返回true，否则返回false
                        if (item.name.includes(keyword)) {
                            return item
                        }
                    })
                }
            }
        });

        // 自定义一个私有的过滤器
        var vm2 = new Vue({
            el: '#app2',
            data: {
                dt: new Date()
            },
            methods: {},
            filters: {// 定义私有过滤器，过滤器有两个条件（过滤器名称和处理函数）
            // 过滤器调用的时候采用的是就近原则
                dateFormater: function (dateStr, pattern = "") {
                    var dt = new Date(dateStr)
                    var y = dt.getFullYear()
                    var m = (dt.getMonth() + 1).toString().padStart(2, '0')
                    var d = (dt.getDate()).toString().padStart(2, '0')

                    // return y + '-' + 'm' + '-' + d

                    if (pattern.toLowerCase() == 'yyyy-mm-dd') {
                        return `${y}-${m}-${d}`
                    } else {
                        var hh = (dt.getHours()).toString().padStart(2, '0')
                        var mm = (dt.getMinutes()).toString().padStart(2, '0')
                        var ss = (dt.getSeconds()).toString().padStart(2, '0')

                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}~~~~~~`
                    }
                }
            },
            directives: { // 自定义私有指令
                'fontweight': {// 设置字体粗细
                    bind: function (el, binding) {
                        el.style.fontWeight = binding.value
                    }
                },
                'fontsize': function(el, binding) {// 这个function等同于把代码写到bind和update中去
                    el.style.fontSize = parseInt(binding.value) + 'px'
                }
            }
        });

        // 过滤器中的function，第一个参数是过滤器管道符前面传递过来的数据
        // Vue.filter('过滤器名称',function(data)){
        //     return data + '123';
        // }
    </script>
</body>

</html>

<!-- 过滤器调用格式 {{ name | nameope }} -->
<!-- Vue.filter('过滤器的名称'， function(){}) -->